h1 {
  font-weight: bolder;
  font-family: sans-serif;
  text-decoration: underline;
  font-size: 40px;
  color: darkblue;
  text-align: center;
}

.emphasis {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
p.intro {
  font-style: oblique;
}

p.foot {
  width: 50%;
}

img.main {
  width: 200px;
}
